@import '../../../util';

.seatMovieInfo {
  padding: 20px 20px;
  border-top: 40px solid rgb(231, 233, 150);
  border-bottom: 1px solid $border;

  &__title {
    color: $black;
    font-size: 16px;
    font-weight: 400;
  }

  &__info {
    margin-top: 10px;
    color: $gray;
    font-size: 14px;
  }
}