.collapsibleText {
  position: relative;
  line-height: 28px;
  font-size: 14px;
  &--collapse {
    // max-height: 84px;
    overflow: hidden;
  }

  &__label {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #6a9ada;
    padding: 0 5px 0 20px;
    // background: linear-gradient(90deg, hsla(0, 0%, 100, 0%), #fff, #fff, #fff)
    background: linear-gradient(to right, rgba(255,255,255,0), #fff,#fff,#fff)
  }
}